#call{
    border: 1px solid #dadce0;
    color: #1a73e8;
}
.header{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    padding: 2px 0;
}
#call:hover{
    background: #f1f3f4;
    color: #174ea6;
    border-color: #8ab4f8;
}
.header .container-fluid img{
    width: 187px;
    height: 24px;
    max-width: 100%;
    margin-left: 16px;
}
a{
    font-size: 14px;
    font-weight: 500;
}
.nav-item a{
    margin-left: 20px ;
}
.d-inline-block  button{
    padding: 9px 30px;
    margin:0;
    margin: 0 0 0 10px;
}
.content{
    margin-top: 100px;
}
.container__logo{
    display:flex;
}
.container__logo h1{
    font-size: 3rem;
    line-height: 50px;
    padding: 10px 20px;
}
p {
    background-image: url("./imgs/1.png");
  }